@page
@model SystemProjectTasks.Pages.AddUserProjectModel
@{
}
<h1>Id de proyecto: @(Model.IdProject)</h1>

<table>
    <ul>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    <li>
                        @(user.NameU)
                    </li>
                </td>
                <td>
                    <a asp-page="/addUserProject/AddUserProject" asp-route-idProject="@(Model.IdProject)"
                        asp-route-idUser="@(user.IdUser)" asp-page-handler="Agregar"><button>Agregar</button></a>
                </td>
            </tr>
        }
    </ul>
</table>