@page
@model SystemProjectTasks.Pages.AddUserProjectModel
@{
}
<h1>Id de proyecto: @(Model.IdProject)</h1>

<ul>
    @foreach (var user in Model.Users)
    {
        <li>@(user.NameU) - <a asp-page="/addUserProject/AddUserProject" asp-route-idProject="@(Model.IdProject)"
                asp-route-idUser="@(user.IdUser)" asp-page-handler="Agregar"><button>Agregar</button></a></li>
    }
</ul>